[submodule "lib/third_party/googletest"]
	path = lib/third_party/googletest
	url = https://github.com/google/googletest
[submodule "lib/third_party/FreeRTOS"]
	path = lib/third_party/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS
